@import "sidebar_module";

.chatworkCompletionFavoriteHeaderButton {
}

.chatworkCompletionTooltipFavorite {
  .chatworkCompletionTooltipFavoriteIcon {
    width: 16px;
    height: 16px;
  }
}

.chatworkCompletionFavorite {
  @include sidebarContainer;

  .chatworkCompletionFavoriteHeader {
    @include sidebarContentsHeader;
  }

  .chatworkCompletionFavoriteList {
    @include sidebarContentsListContainer;

    .chatworkCompletionFavoriteListItem {
      @include sidebarContentsListItem;

      &:hover {
        .chatworkCompletionFavoriteListItemActionBar {
          display: block;
        }
      }

      .chatworkCompletionFavoriteListItemProfile {
        @include messageProfileContainer;

        .chatworkCompletionFavoriteListItemAccountIcon {
          @include messageAccountIcon;
        }

        .chatworkCompletionFavoriteListItemProfileName {
          @include messageAccountName;
        }

        .chatworkCompletionFavoriteListItemDate {
        }
      }

      .chatworkCompletionFavoriteListItemMessage {
        @include messageBody;
      }

      .chatworkCompletionFavoriteListItemRoom {
        @include messageRoomContainer;
      }

      .chatworkCompletionFavoriteListItemRoomIcon {
        @include messageRoomIcon;
      }

      .chatworkCompletionFavoriteListItemRoomName {
      }

      .chatworkCompletionFavoriteListItemActionBar {
        @include sidebarContentsListItemActionBar;

        .chatworkCompletionFavoriteListItemActionButton {
          @include sidebarContentsListItemActionButton;
        }
      }

    }
  }

}
