.chatworkCompletionFavoriteHeaderButton {
}

.chatworkCompletionTooltipFavorite {
  .chatworkCompletionTooltipFavoriteIcon {
    width: 16px;
    height: 16px;
  }
}

.chatworkCompletionFavorite {
  display: none;
  position: fixed;
  top: 42px;
  right: 0;
  width: 350px;
  height: calc(100% - 42px);
  border-left: 1px solid #12202F;
  background-color: #fff;
  z-index: 10000;

  .chatworkCompletionFavoriteHeader {
    height: 42px;
    background-color: #12202F;
    color: #E2E3E6;
    line-height: 42px;
    font-size: 16px;
    padding-left: 8px;
  }

  .chatworkCompletionFavoriteList {
    z-index: 10001;
    list-style: none;

    .chatworkCompletionFavoriteListItem {
      border-bottom: 1px solid #000;
      padding: 8px;

      .chatworkCompletionFavoriteListItemProfile {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        .chatworkCompletionFavoriteListItemAccountIcon {
          height: 32px;
          border-top-left-radius: 50%;
          border-top-right-radius: 50%;
          border-bottom-left-radius: 50%;
          margin-right: 5px;
        }

        .chatworkCompletionFavoriteListItemProfileName {
          flex-grow: 2;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          max-width: 199px;
        }

        .chatworkCompletionFavoriteListItemDate {
        }
      }

      .chatworkCompletionFavoriteListItemMessage {
        margin-left: 37px;
      }

      .chatworkCompletionFavoriteListItemRoom {
        display: flex;
        align-items: center;
        margin-left: 37px;
      }

      .chatworkCompletionFavoriteListItemRoomIcon {
        width: 32px;
        height: 32px;
        margin-right: 5px;
      }

      .chatworkCompletionFavoriteListItemRoomName {
      }

      .chatworkCompletionFavoriteListItemActionBar {
        display: none;
        text-align: right;

        .chatworkCompletionFavoriteListItemActionButton {
          width: 32px;
          height: 32px;
          padding: 0;
          border-radius: 4px;
          cursor: pointer;

          img {
            width: 16px;
            height: 16px;
          }
        }
      }

      &:hover {
        .chatworkCompletionFavoriteListItemActionBar {
          display: block;
        }
      }
    }
  }

}