@import "sidebar_module";

.chatworkCompletionMentionListHeaderButton {
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  display: block;
}

.chatworkCompletionMentionList {
  @include sidebarContainer;

  .chatworkCompletionMentionListHeader {
    @include sidebarContentsHeader;
  }

  .chatworkCompletionMentionList {
    @include sidebarContentsListContainer;

    .chatworkCompletionMentionListItem {
      @include sidebarContentsListItem;

      &:hover {
        .chatworkCompletionMentionListItemActionBar {
          display: block;
        }
      }

      .chatworkCompletionMentionListItemProfile {
        @include messageProfileContainer;

        .chatworkCompletionMentionListItemAccountIcon {
          @include messageAccountIcon;
        }

        .chatworkCompletionMentionListItemProfileName {
          @include messageAccountName;
        }

        .chatworkCompletionMentionListItemDate {
        }
      }

      .chatworkCompletionMentionListItemMessage {
        @include messageBody;
      }

      .chatworkCompletionMentionListItemRoom {
        @include messageRoomContainer;
      }

      .chatworkCompletionMentionListItemRoomIcon {
        @include messageRoomIcon;
      }

      .chatworkCompletionMentionListItemRoomName {
      }

      .chatworkCompletionMentionListItemActionBar {
        @include sidebarContentsListItemActionBar;

        .chatworkCompletionMentionListItemActionButton {
          @include sidebarContentsListItemActionButton;
        }
      }
    }
  }


  .chatworkCompletionMentionListNotRegisteredHeading {
    margin-top: 30px;
    text-align: center;
  }

  .chatworkCompletionMentionListNotRegisteredButton {
    margin: 10px auto 0 auto;
    width: 200px;
    height: 32px;
    font-size: 18px;
    text-align: center;
    display: block;
    cursor: pointer;
  }
}
